body {
    background-image: url(http://78.media.tumblr.com/14dda2b1e8da7a3d87f46da35c5ec1fa/tumblr_opwech3XTl1t8a71ko1_500.jpg);
}
h1{
    color: white;
}
h2{
    color: white;
}
li{
    color: white;
}
h6{
    color: white;
}